:root {
  /* White Palette */
  --header-color: rgb(8, 8, 8);

  --white-pure: #FFFFFF;
  --white-light: #F8F8F8;
  --white-warm: #F0F0F0;
  --white-cool: #EAEAEA;

  /* Blue Palette */
  --blue-primary: #338BFF;
  --blue-light: #80C1FF;
  --blue-dark: #0065B3;
  --blue-muted: #4D96D1;
  --blue-accent: #A3D3FF;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  text-align: center;
}
.page-header {
  background-color: var(--header-color);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.header-right {
  align-items: center;
}
.logo {
  color: white;
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
}

.nav-bar {
  margin: auto;
}

.nav-bar a {
  color: white;
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-icon {
  color: white;
  cursor: pointer;
  display: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.main {
  padding: 5% 10%;
}


input[type=checkbox] {
  transform: scale(1.2);
}


.blackLine {
  display: block;
  width: 100%;
  height: 1px;
  border-top: 1px solid black;
  margin: 10% 0;
}

.margin-auto {
  margin: auto;
}


.red {
  background-color: red;
  color: white;
}
.blue {
  background-color: var(--blue-primary);
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.black {
  background-color: black;
  color: white;
}

.container {
  min-width:  280px;
  width: 600px;
  margin: 3% auto;
  padding: 3%;
  border-radius: 5px;
}
.min-width {
  min-width: 350px;
}
.shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.146);
}
.border {
  border: 1px solid rgba(0, 0, 0, 0.154);
}

input, select {
  min-width: 70px;
  margin: 5%;
  padding: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.154);
  border-radius: 5px;
}
button {
  margin: 2%;
  min-width: 70px;
  padding: 0.9rem;
}
.button {
  margin: 5%;
  font-size: 1rem;
  padding: .9rem;
  min-width: 100px;
  border: 1px solid rgba(0, 0, 0, 0.154);
  font-weight: 600;
  border-radius: 5px;
}

button:hover, .button:hover {
  background-color: var(--white-pure) !important;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
button:active, .button:active {
  border: 1px solid black;
  background-color: rgb(233, 233, 233) !important;
  transform: scale(0.95);

}



.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#logoTitle, a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.spinner {
  border: 10px solid #f3f3f3; /* Light grey background */
  border-top: 10px solid var(--blue-primary); /* Blue color for the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
  33% {
    transform: rotate(200deg);
    border-radius: 30%;
  }

  50% {
    transform: rotate(400deg);
    border-radius: 30%;
  }

  100% {
    transform: rotate(0deg);
    border-radius: 50%;
  }
}


@media screen and (max-width: 700px) {
  input[type=checkbox] {
    transform: scale(1);
  }  

  .main {
    padding: 2% 5%;
  }

  button, .button {
    font-size: 0.8rem;
    padding: 15px 8px;
  }
  
  .blackLine {
    width: 80%;
    margin: 10% auto;
  }

  input {
    padding: 15px;
    width: 50px;
  }

  .container {
    width: 90%;
  }
 
  input {
    margin: 5%;
  }
  .nav-bar {
    display: none;
    position: absolute;
    top: 3.7rem;
    left: 0;
    width: 100%;
    background-color: var(--bgcolor);
    text-align: center;
  }

  .nav-bar.responsive {
    display: block;
  }

  .nav-bar a {
    display: block;
  }

  .menu-icon {
    display: block;
    z-index: 1;
  }

  .logo {
    font-size: 1.4rem;
  }
}



